<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cadastrar Estabelecimento</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="Close()"></button>
</div>

<div class="modal-body" *ngIf="!loading">
    <div class="row">
        <h5 class="col-12">Dados do estabelecimento</h5>
        
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <label for="corporateName" class="required">Razão Social</label>
                    <input id="corporateName" [(ngModel)]="data.corporateName"
                        type="text" class="form-control"
                        placeholder="Digite a razão social..." (change)="ValidateField($event)">
                </div>
    
                <div class="col-6">
                    <label for="fantasyName" class="required">Nome Fantasia</label>
                    <input id="fantasyName" [(ngModel)]="data.fantasyName"
                        type="text" class="form-control"
                        placeholder="Digite o nome fantasia..." (change)="ValidateField($event)">
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-6">
                    <label for="documentNumber" class="required">CNPJ</label>
                    <input id="documentNumber" [(ngModel)]="data.documentNumber"
                        type="text" class="form-control"
                        placeholder="Digite a razão social..." 
                        (change)="ValidateField($event)"
                        [mask]="'00.000.000/0000-00'">
                </div>
    
                <div class="col-6">
                    <label for="phoneNumber" class="required">Numero de Telefone</label>
                    <input id="phoneNumber" [(ngModel)]="data.phoneNumber" [mask]="'(00) 0000-0000'"
                        type="text" class="form-control"
                        placeholder="Digite o nome fantasia..." (change)="ValidateField($event)">
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-6">
                    <label for="url" class="">URL</label>
                    <input id="url" [(ngModel)]="data.url"
                        type="text" class="form-control"
                        placeholder="Digite a razão social..." (change)="ValidateField($event)">
                </div>
    
                <div class="col-6">
                    <label for="email" class="required">E-Mail</label>
                    <input id="email" [(ngModel)]="data.email"
                        type="text" class="form-control"
                        placeholder="Digite o nome fantasia..." (change)="ValidateField($event)">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <h5 class="col-12">Endereço</h5>

        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <label for="zipCode" class="required">CEP</label>
                    <input id="zipCode" [(ngModel)]="data.zipCode" [mask]="'00000-000'"
                        (change)="GetAddress(data.zipCode)" type="text" class="form-control"
                        placeholder="Digite seu cep..." (change)="ValidateField($event)">
                </div>

                <div class="col-6">
                    <label for="number" class="required">Numero</label>
                    <input id="number" [(ngModel)]="data.number" type="number" class="form-control"
                        placeholder="Digite o numero do endereço..." (change)="ValidateField($event)">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <label for="addressName" class="required">Endereço</label>
                    <input id="addressName" [(ngModel)]="data.addressName" type="text" class="form-control"
                        placeholder="Digite o endereço..." (change)="ValidateField($event)">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <label for="city" class="required">Cidade</label>
                    <input id="city" [(ngModel)]="data.city" type="text" class="form-control"
                        placeholder="Digite a cidade..." (change)="ValidateField($event)">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <label for="state" class="required">Estado</label>
                    <input id="state" [(ngModel)]="data.state" type="text" class="form-control"
                        placeholder="Digite o estado..." (change)="ValidateField($event)">
                </div>

                <div class="col-6">
                    <label for="neighborhood" class="required">Bairro</label>
                    <input id="neighborhood" [(ngModel)]="data.neighborhood" type="text" class="form-control"
                        placeholder="Digite o bairro..." (change)="ValidateField($event)">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-body" *ngIf="loading">
    <div class="row">
        <app-spinner-black></app-spinner-black>
    </div>
</div>


<div class="modal-footer bg-white-d">
    <button type="button" (click)="Close()" class="btn btn-outline-danger">Cancelar</button>
    <button [disabled]="!IsFormValid()" type="button" class="btn btn-success text-light" (click)="Submit()">Cadastrar</button>
</div>