<app-card>
    <div class="row m-0 p-2">
        <div class="col-12 p-0">
            <div class="row m-0">
                <label class="col-10 my-auto p-0">$ 69420,00</label>
                <div class="col-2 p-0 justify-content-end d-flex">
                    <div style="width: 30px;height: 30px;" class="m-0 p-0 text-center rounded-circle bg-primary-ww">
                        <i class="text-light bi bi-cash-coin" style="line-height: 34px;"></i>
                    </div>
                </div>
            </div>
            <div class="row mt-2 m-0">
                <label class="col-12 p-0 fs-7 text-secondary">Lucro Total</label>
            </div>
            <div class="row mt-2 m-0">
                <div class="col-12 p-0 fs-7">
                    <div class="row m-0">
                        <span class="badge bg-success col-auto fs-8"><small>+ 4.20%</small></span>
                        <label class="fs-8 text-muted col my-auto text-truncate" style="min-width: 40px;">Desde a semana passada</label>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</app-card>