<div class="row align-items-end bg-white-d p-2">

    <div class="col-3 my-auto">
        <small class="pr-2">Linhas por Página</small> 
        &nbsp;
        <select class="text-center" [(ngModel)]="itemsPerPage_ddl" (change)="DDL_ChangeMaxItens()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div> 

    <div class="col-6 text-center" *ngIf="itemsPerPage!=0">
        <div class="btn-group">
            <button class="btn btn-outline-secondary me-1" (click)="Button_First()" type="button">
                <i class="bi bi-chevron-bar-left"></i>
            </button>
            <button class="btn btn-outline-secondary me-1" (click)="Button_Previous()" type="button">
                <i class="bi bi-chevron-left"></i>
            </button>

            <button *ngFor="let pageItem of pageList" 
                class="btn btn-outline-primary" 
                [ngClass]="{'active': pageItem == this.page}" 
                (click)="Button_Page(pageItem)">
                    {{pageItem}}
            </button>
            
            <button class="btn btn-outline-secondary ms-1" (click)="Button_Next()" type="button">
                <i class="bi bi-chevron-right"></i>
            </button>
            <button class="btn btn-outline-secondary ms-1" (click)="Button_Last()">
                <i class="bi bi-chevron-bar-right"></i>
            </button>
        </div>  
    </div>

    <div class="col-3 text-end my-auto" *ngIf="itemsPerPage!=0">
        <label><b>Página {{page}} de {{totalPages}}</b></label>
    </div> 

       
</div>
