.pagination{
    height: 30px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
}

.pagination button{
    border: none;
}

.pagination input{
    border: none;
    text-align: center;
}