<div class="modal-header">
	<h4 class="modal-title" id="modal-title">Deletar Livro</h4>
	<button
		type="button"
		class="btn-close"
		aria-describedby="modal-title"
        (click)="Close()"
	></button>
</div>

<div class="modal-body" *ngIf="isLoading">
    <div class="row">
        <app-spinner-black></app-spinner-black>
    </div>
</div>

<div *ngIf="!isLoading">
    <div class="modal-body">
        <p>
            <strong>Você tem certeza que deseja deletar o livro <span class="text-primary">{{livro.nome}}</span> ?</strong>
        </p>
        <p>
            Todas informações relacionadas a esse livro serão permanentemente apagadas.
        </p>
        <small class="text-danger">Essa Operação não pode ser desfeita.</small>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="Close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="Submit()">Deletar</button>
    </div>
</div>


