<style>
    .marker{
        line-height: 25px;
    }
</style>

<div class="row">
    <div class="col">
        <div class="col-12 text-center" style="margin-left: 12.5px;">
            {{initialStep}}
        </div>

        <div class="row">
            <div class="col">
                &nbsp;
            </div>
    
            <div class="col progress-start p-0">
                <div [ngClass]="getStepClass(initialStep, true, true)" (click)="setStep(initialStep)">
                    <!-- <i [ngClass]="getMarkerClass(initialStep)"></i> -->
                </div>
            </div>

            <div class="col my-auto m-0 p-0">
                <div [ngClass]="getStepClass(initialStep, false, false)"></div>
            </div>
        </div>
    </div>
    
    <div class="col" *ngFor="let step of middleSteps">
        <div class="col-12 text-center text-truncate">
            {{step}}
        </div>

        <div class="row">
            <div class="col my-auto m-0 p-0">
                <div [ngClass]="getStepClass(step, true, false)"></div>
            </div>
            <div class="col progress-start m-0 p-0">
                <div [ngClass]="getStepClass(step, true, true)" (click)="setStep(step)">
                    <!-- <i [ngClass]="getMarkerClass(step)"></i> -->
                </div>
            </div>
            <div class="col my-auto m-0 p-0">
                <div [ngClass]="getStepClass(step, false, false)"></div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-12 text-center" style="margin-left: -12.5px;">
            {{finalStep}}
        </div>

        <div class="row">
            <div class="col my-auto m-0 p-0">
                <div [ngClass]="getStepClass(finalStep, true, false)"></div>
            </div>
            <div class="col progress-start p-0">
                <div [ngClass]="getStepClass(finalStep, true, true)" (click)="setStep(finalStep)">
                    <!-- <i [ngClass]="getMarkerClass(finalStep)"></i> -->
                </div>
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
    </div>
</div>
