<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Editar Permissões</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="Close()"></button>
</div>

<div class="modal-body" *ngIf="!isLoading">
    <div class="row mt-2">
        <h5>Informações</h5>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label class="col-12">Id</label>
            <input class="form-control" [disabled]="true" [(ngModel)]="profile.id">
        </div>
        <div class="col-9">
            <label class="col-12">Nome</label>
            <input class="form-control" [disabled]="true" [(ngModel)]="profile.name">
        </div>
    </div>
    <div class="row mt-4">
        <h5>Permissões</h5>
    </div>
    <div class="row mt-2" style="max-height: 220px; overflow: auto;">
        <div class="col-12">
            <ul class="list-group">
                <li *ngFor="let item of profilePermissionsModel" class="list-group-item">
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="item.isEnabled" type="checkbox" role="switch" [id]="item.name">
                        <label class="form-check-label" [for]="item.name">{{item.name}}</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal-body" *ngIf="isLoading">
    <div class="row">
        <app-spinner-black></app-spinner-black>
    </div>
</div>

<div class="modal-footer bg-white-d">
    <button type="button" (click)="Close()" class="btn btn-outline-danger">Cancelar</button>
    <button type="button" class="btn btn-primary text-light" (click)="Submit()">Salvar</button>
</div>