<h6 class="col-12">
    <label for="{{label}}_field">
        {{label}}
    </label>
</h6>

<ng-select *ngIf="fieldType == 0" i
    id="{{label}}_field" placeholder="{{placeholder}}" 
    notFoundText="{{notFoundText}}"
    [(ngModel)]="selected_item"
    (change)="updateSelected_item()">
    <ng-option *ngFor="let option of items" value="{{option.id}}">{{option.value}}</ng-option>
</ng-select>

<input *ngIf="fieldType == 2 && mask != ''" 
    class="form-control" 
    type="text" 
    placeholder="{{placeholder}}" 
    [(ngModel)]="text_value"
    (input)="updateText()"
    [mask]="mask">

<input *ngIf="fieldType == 2 && mask == ''" 
    class="form-control" 
    type="text" 
    placeholder="{{placeholder}}" 
    [(ngModel)]="text_value"
    (input)="updateText()">

<input *ngIf="fieldType == 3" 
    class="form-control" 
    type="date" 
    placeholder="{{placeholder}}" 
    [(ngModel)]="text_value"
    (input)="updateText()">

<div class="form-check" *ngIf="fieldType == 4">
    <input 
        id="{{label}}_field" 
        type="checkbox" 
        class="form-check-input"
        [(ngModel)]="isChecked"
        (input)="updateIsChecked()">
    
    <label 
        class="form-check-label" 
        for="{{label}}_field">
        Salvar credenciais
    </label>
</div>

<div *ngIf="fieldType == 5">
    <div class="form-check" *ngFor="let option of items">
        <input class="form-check-input" 
        name="radio_group_{{label}}" 
        type="radio" 
        id="radio_{{option.id}}" 
        value="{{option.id}}"
        [(ngModel)]="selected_item"
        (input)="updateSelected_item()">
        <label class="form-check-label" for="radio_{{option.id}}">
            {{option.value}}
        </label>
    </div>
</div>



