<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cadastrar usuário</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="Close()"></button>
</div>

<div class="modal-body" *ngIf="!loading">
    <div class="row">
        <h5 class="col-12">Dados do usuário</h5>

        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <label for="name" class="required">Nome</label>
                    <input id="name" [(ngModel)]="data.name" type="text" class="form-control"
                        placeholder="Digite seu nome ..." (change)="ValidateField('name')">
                </div>

                <div class="col-6">
                    <label for="documentNumber" class="required">CPF</label>
                    <input id="documentNumber" [(ngModel)]="data.documentNumber" [mask]="'000.000.000-00'" type="text"
                        class="form-control" placeholder="Digite seu cpf ..." (change)="ValidateField('documentNumber')">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <label for="phoneNumber" class="required">Numero de Celular</label>
                    <input id="phoneNumber" [(ngModel)]="data.phoneNumber" [mask]="'(00) 00000-0000'" type="text"
                        class="form-control" placeholder="Digite seu numero..." (change)="ValidateField('phoneNumber')">
                </div>

                <div class="col-6">
                    <label for="email" class="required">E-Mail</label>
                    <input id="email" [(ngModel)]="data.email" type="text" class="form-control"
                        placeholder="Digite seu e-mail ..." (change)="ValidateField('email')">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <label for="reg-password" class="required">Senha</label>
                    <input id="reg-password" [(ngModel)]="data.password" type="password" class="form-control"
                        placeholder="Digite sua senha ..." (change)="ValidateField('reg-password')">
                </div>

                <div class="col-6">
                    <label for="confirmPassword" class="required">Confirmar Senha</label>
                    <input id="confirmPassword" [(ngModel)]="data.confirmPassword" type="password" class="form-control"
                        placeholder="Digite sua senha ..." (change)="ValidateField('confirmPassword')">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <label for="profile" class="required">Perfil</label>
                    <select class="form-select" id="profile"
                        [(ngModel)]="data.profileId" (change)="ValidateField('profile')">
                        <option value="" selected>Selecione um perfil ...</option>
                        <option *ngFor="let option of ddl_profile_options"
                            value="{{option.id}}">{{option.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <h5 class="col-12">Endereço</h5>

        <app-address-form [(data)]="address" [(isFormValid)]="isAddressValid"></app-address-form>
    </div>
</div>

<div class="modal-body" *ngIf="loading">
    <div class="row">
        <app-spinner-black></app-spinner-black>
    </div>
</div>


<div class="modal-footer bg-white-d">
    <button type="button" (click)="Close()" class="btn btn-outline-danger">Cancelar</button>
    <button [disabled]="!IsFormValid()" type="button" class="btn btn-success text-light"
        (click)="Submit()">Cadastrar</button>
</div>