<div class="modal-header">
	<h4 class="modal-title" id="modal-title">Cadastrar Livro</h4>
	<button
		type="button"
		class="btn-close"
		aria-describedby="modal-title"
        (click)="Close()"
	></button>
</div>


<form (ngSubmit)="Submit()" [formGroup]="mainForm">
    <div class="modal-body" *ngIf="!loading">
        <div class="row">
            <div class="col-4" >
                <label>Capa</label>
                <img class="col-12 border rounded" src="{{templateImage}}">
                
                <div class="col-12">
                    <label for="urlCapa" class="required">URL Capa</label>
                    <input  (change)="UpdateImage()"
                    [ngClass]="f.urlCapa.invalid && f.urlCapa.touched ? 'is-invalid' : ''"
                    [ngClass]="f.urlCapa.valid && f.urlCapa.touched ? 'is-valid' : ''" 
                    [(ngModel)]="livro.urlCapa" formControlName="urlCapa"  
                    type="text" 
                    class="form-control" 
                    placeholder="Digite o url da capa ...">
                    <small *ngIf="f.urlCapa.invalid && f.urlCapa.touched" class="form-text text-danger">Campo obrigatório.</small>
                </div>
            </div>
    
            <div class="col-8" style="border-left: 1px solid;">
                <div class="row">
                    <div class="col-12">
                        <label for="nome" class="required">Titulo</label>
                        <input  
                        [ngClass]="f.nome.invalid && f.nome.touched ? 'is-invalid' : ''"
                        [ngClass]="f.nome.valid && f.nome.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.nome" formControlName="nome"  
                        type="text" 
                        class="form-control" 
                        placeholder="Digite o titulo ...">
                        <small *ngIf="f.nome.invalid && f.nome.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
                </div>
        
                <div class="row mt-2">
                    <div class="col">
                        <label for="descricao" class="required">Descrição</label>
                    <textarea 
                    [ngClass]="f.descricao.invalid && f.descricao.touched ? 'is-invalid' : ''"
                    [ngClass]="f.descricao.valid && f.descricao.touched ? 'is-valid' : ''" 
                    [(ngModel)]="livro.descricao" formControlName="descricao" 
                    class="form-control" 
                    [rows]="3"
                    placeholder="Digite uma descrição ..."></textarea>
                    <small *ngIf="f.descricao.invalid && f.descricao.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
                </div>
        
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="edicao" class="required">Edição</label>
                        <input  
                        [ngClass]="f.edicao.invalid && f.edicao.touched ? 'is-invalid' : ''"
                        [ngClass]="f.edicao.valid && f.edicao.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.edicao" formControlName="edicao"  
                        type="number" 
                        class="form-control" 
                        placeholder="Digite o numero da edição ...">
                        <small *ngIf="f.edicao.invalid && f.edicao.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
        
                    <div class="col-6">
                        <label for="anoPublicacao" class="required">Ano de Publicação</label>
                        <input  
                        [ngClass]="f.anoPublicacao.invalid && f.anoPublicacao.touched ? 'is-invalid' : ''"
                        [ngClass]="f.anoPublicacao.valid && f.anoPublicacao.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.anoPublicacao" formControlName="anoPublicacao"  
                        type="number" 
                        class="form-control" 
                        placeholder="Digite o ano da publicação ...">
                        <small *ngIf="f.anoPublicacao.invalid && f.anoPublicacao.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
                </div>
        
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="avaliacao" class="required">Avaliação</label>
                        <input  
                        [ngClass]="f.avaliacao.invalid && f.avaliacao.touched ? 'is-invalid' : ''"
                        [ngClass]="f.avaliacao.valid && f.avaliacao.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.avaliacao" formControlName="avaliacao"  
                        type="number" 
                        class="form-control" 
                        placeholder="Digite a avaliação ...">
                        <small *ngIf="f.avaliacao.invalid && f.avaliacao.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
        
                    <div class="col-6">
                        <label for="valor" class="required">Valor</label>
                        <input  
                        [ngClass]="f.valor.invalid && f.valor.touched ? 'is-invalid' : ''"
                        [ngClass]="f.valor.valid && f.valor.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.valor" formControlName="valor"  
                        type="number" 
                        class="form-control" 
                        placeholder="Digite o valor ...">
                        <small *ngIf="f.valor.invalid && f.valor.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
                </div>
    
                <div class="row mt-2">
                    <div class="col-6 mt-2">
                        <label for="idEditora" class="required">Editora</label>
                        <ng-select 
                        [placeholder]="'Selecione uma Editora ...'" 
                        [notFoundText]="'Nenhum Item Encontrado'" 
                        [ngClass]="f.idEditora.invalid && f.idEditora.touched ? 'is-invalid' : ''"
                        [ngClass]="f.idEditora.valid && f.idEditora.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.idEditora" formControlName="idEditora"
                        class="">
                            <ng-option *ngFor="let option of ddl_editora_options" value="{{option.id}}">{{option.nome}}</ng-option>
                        </ng-select>
                        <small *ngIf="f.idEditora.invalid && f.idEditora.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
    
                    <div class="col-6 mt-2">
                        <label for="idGenero" class="required">Genero</label>
                        <ng-select 
                        [placeholder]="'Selecione um Genero ...'" 
                        [notFoundText]="'Nenhum Item Encontrado'" 
                        [ngClass]="f.idGenero.invalid && f.idGenero.touched ? 'is-invalid' : ''"
                        [ngClass]="f.idGenero.valid && f.idGenero.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.idGenero" formControlName="idGenero"  
                        class="">
                            <ng-option *ngFor="let option of ddl_genero_options" value="{{option.id}}">{{option.nome}}</ng-option>
                        </ng-select>
                        <small *ngIf="f.idGenero.invalid && f.idGenero.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-2">
                        <label for="idAutor" class="required">Autor</label>
                        <ng-select 
                        [placeholder]="'Selecione um Autor ...'" 
                        [notFoundText]="'Nenhum Item Encontrado'" 
                        [ngClass]="f.idAutor.invalid && f.idAutor.touched ? 'is-invalid' : ''"
                        [ngClass]="f.idAutor.valid && f.idAutor.touched ? 'is-valid' : ''" 
                        [(ngModel)]="livro.livro_Autores[0].idAutor" formControlName="idAutor"  
                        class="">
                            <ng-option *ngFor="let option of ddl_autores_options" value="{{option.id}}">{{option.nome}}</ng-option>
                        </ng-select>
                        <small *ngIf="f.idAutor.invalid && f.idAutor.touched" class="form-text text-danger">Campo obrigatório.</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="modal-body" *ngIf="loading">
        <div class="row">
            <app-spinner-black></app-spinner-black>
        </div>
    </div>
    

    <div class="modal-footer">
        <button type="button" (click)="Close()" class="btn btn-outline-secondary">Cancelar</button>
        <button type="submit" [disabled]="mainForm.invalid" class="btn btn-success text-light">Cadastrar</button>
    </div>
</form>


