<app-window>
    <div class="row mb-2">
        <div class="col fs-5">
            <i class="bi bi-boxes"></i>
            Lotes
        </div>
    </div>

    <div class="row">
        <app-tab [tabs]="['Consulta', 'Adicionar']" [icons]="['bi bi-search','bi bi-plus-lg']"
            [(index)]="tabIndex"></app-tab>
    </div>

    <div *ngIf="tabIndex == 0" class="row">
        <app-tab-batch-table></app-tab-batch-table>
    </div>
    <div *ngIf="tabIndex == 1" class="row">
        <app-tab-batch-new (OnSuccess)="tabIndex=0"></app-tab-batch-new>
    </div>
</app-window>