<style>
    .pill-input{
        border:none;
        width: 70px;
        font-size: small;
    }

    .pill-input:focus{
        outline: none;
    }
</style>

<!-- <div class="row">
    <div class="col-4">
        <div class="row form-control">
            <small class="rounded bg-primary text-white py-1">
                Text
                <i class="ms-1 fa fa-times-circle"></i>
            </small>

            <input type="text" class="pill-input">
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-6 align-self-center text-end">
        <img src="../../../assets/Bibliophile-pana.svg" style="max-width: 50vh;">
    </div>

    <div class="col-6 p-5">
        <div class="row bg-primary-w text-white p-2 rounded sdw" *ngIf="!isLoading" style="max-width: 400px;">
            <div class="col-12 text-center">
                <h1>Login</h1>
            </div>

            <div class="col-12 mt-2">
                <label for="nome" class="required">Usuário</label>
                <input 
                    id="username"
                    type="text" 
                    class="form-control" 
                    placeholder="Digite o nome de usuário ..."
                    [(ngModel)]="loginData.username"
                    (change)="ValidateField('username')">
            </div>

            <div class="col-12 mt-2">
                <label for="nome" class="required">Senha</label>
                <input 
                    id="password"
                    type="password" 
                    class="form-control" 
                    placeholder="Digite sua senha ..."
                    [(ngModel)]="loginData.password"
                    (change)="ValidateField('password')">
            </div>

            <div class="col-12 mt-2">
                <div class="row p-2">
                    <button type="submit" [disabled]="!IsFormValid()" (click)="Submit()" class="btn btn-success text-light">Login</button>
                </div>
            </div>

            <div class="col-12 mt-2">
                <small for="nome">Não tem conta ?</small>
                <div class="row p-2">
                    <button (click)="Modal_Register()" type="button" class="btn btn-primary text-light">Cadastre-se</button>
                </div>
            </div>
        </div>
    
        <div class="row bg-primary-w text-white p-2 rounded sdw" *ngIf="isLoading" style="max-width: 400px;">
            <app-spinner-white></app-spinner-white>
        </div>

        <small class="text-muted">Copyright 2023 © Ocorp. Todos os direitos reservados.</small>
    </div>
</div>

