<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cadastrar Marca</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="Close()"></button>
</div>

<div class="modal-body" *ngIf="!loading">
    <div class="row">
        <h5 class="col-12">Dados da Marca</h5>

        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="brand" class="required">Nome</label>
                    <input id="brand" [(ngModel)]="data.name" type="text" class="form-control"
                        placeholder="Digite o nome da marca ..." (change)="ValidateField('brand')">
                </div>

                <div class="col-7">
                    <label for="description" class="required">Descrição</label>
                    <input id="description" [(ngModel)]="data.description" type="text" class="form-control"
                        placeholder="Digite uma descrição..." (change)="ValidateField('description')">
                </div>

                <div class="col-1">
                    <label for="color" class="required">Cor</label>
                    <input type="color" class="form-control form-control-color" id="color" [(ngModel)]="data.color"
                        title="Choose your color">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-body" *ngIf="loading">
    <div class="row">
        <app-spinner-black></app-spinner-black>
    </div>
</div>


<div class="modal-footer bg-white-d">
    <button type="button" (click)="Close()" class="btn btn-outline-danger">Cancelar</button>
    <button [disabled]="!IsFormValid()" type="button" class="btn btn-success text-light"
        (click)="Submit()">Cadastrar</button>
</div>