<div *ngIf="HasPermission(5)" class="row p-0 bg-primary-d rounded-4 sdw" style="min-height:100%;">   
    <ul class="col mt-4">
        <li class="row">
            <div class="col text-center">
                <img src="../assets/Ocorp.svg" style="width: 128px;" class="my-auto">
            </div>
        </li>

        <li class="row mt-4">
            <div class="col text-center">
                <div class="mx-auto bg-secondary rounded rounded-circle" style="width: 164px;height: 164px;">
                    <i class="bi bi-person-fill text-white" style="line-height: 164px;font-size: 64px;"></i>
                </div>
            </div>
        </li>

        <li *ngIf="HasPermission(1)" class="row nav-button mt-4" (click)="GotoRoute('/users')">
            <div class="col-2" style="text-align:right;"><i class="bi bi-person-fill"></i></div>
            <div class="col-10">Usuarios</div>
        </li>

        <li *ngIf="HasPermission(2)" class="row nav-button" (click)="GotoRoute('/permissions')">
            <div class="col-2" style="text-align:right;"><i class="bi bi-lock-fill"></i></div>
            <div class="col-10">Permissões</div>
        </li>

        <li *ngIf="HasPermission(3)" class="row nav-button" (click)="GotoRoute('/profiles')">
            <div class="col-2" style="text-align:right;"><i class="bi bi-person-vcard-fill"></i></div>
            <div class="col-10">Perfis</div>
        </li>

        <li *ngIf="HasPermission(5)" class="row nav-button" (click)="GotoRoute('/establishments')">
            <div class="col-2" style="text-align:right;"><i class="bi bi-building-fill"></i></div>
            <div class="col-10">Estabelecimentos</div>
        </li>

        <li *ngIf="HasPermission(6)" class="row nav-button" (click)="GotoRoute('/dashboard')">
            <div class="col-2" style="text-align:right;"><i class="bi bi-bar-chart-line"></i></div>
            <div class="col-10">Dashboard</div>
        </li>

        <li class="row nav-button" (click)="Button_Logout()">
            <div class="col-2" style="text-align:right;"><i class="bi bi-box-arrow-left"></i></div>
            <div class="col-10">Logout</div>
        </li>
    </ul>

    <div class="col text-muted text-center fw-bold">
        <div class="row align-items-end" style="min-height: 100%;">
            <div class="col p-2">
                Ambiente : {{ambient}}
            </div>
        </div>
    </div>
    
</div>