.nav-btn {
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
}

.nav-btn:hover {
    background-color: #3a618d !important; 
}

.nav-btn-active {
    background-color: #294566 !important; 
}