<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    color: white;
    font-weight: 600;
  }

  .toolbar img{
    max-height: 60px;
    width: auto;
  }

  .content {
    margin-top: 60px;
  }

  .page{
    padding: 10px 40px;
  }

  .fill-height {
    min-height: calc(100vh - 60px - 80px);
  }

  .footer{
    height: 80px !important;
  }
</style>

<head>
</head>

<!-- Toolbar -->
<div class="toolbar bg-primary" role="banner">
  <div class="row m-0" style="height: 100%;">
    <div class="col text-center my-auto">
      <img src="../assets/Ocorp.svg" style="width: 128px;" class="my-auto">
    </div>
  </div>
</div>

<div class="content" role="main">
  <div class="row m-0 fill-height">

    <div id="navbar" class="col m-0 p-0" style="max-width: 250px;">
      <app-navbar></app-navbar>
    </div>
    
    <div class="col m-0 p-0">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="row mx-0 bg-primary text-light p-2 footer">
    <div class="col-6 my-auto">
      <span class="small">Copyright 2023 © Ocorp.  Todos os direitos reservados.</span>
    </div>

    <div class="col-6 my-auto">
      <ul class="list-inline mb-0 text-lg-end text-center">
        <li class="list-inline-item mb-2 mb-md-0">Baixe nosso App</li>
        <li class="list-inline-item ms-4">
          <a href="#!"> <img src="../assets/images/appbutton/appstore-btn.svg" alt="" style="width: 140px;"></a></li>
        <li class="list-inline-item">
          <a href="#!"> <img src="../assets/images/appbutton/googleplay-btn.svg" alt="" style="width: 140px;"></a></li>
      </ul>
    </div>
  </div>
</div>




