<app-form-body *ngIf="!isLoading" [errors]="errors">
    <div class="row">
        <div class="col-12">
            <label class="fs-5">Dados</label>
            <hr>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-6 mt-2">
            <label for="name" class="required">Nome</label>
            <input id="name" [(ngModel)]="model.name" type="text" class="form-control"
                placeholder="Digite o nome do produto..." (change)="ValidateField('name')">
        </div>

        <div class="col-6 mt-2">
            <label for="price" class="required">Preço de Venda</label>
            <input id="price" [(ngModel)]="model.price" type="text" class="form-control" prefix="R$" mask="separator.2"
                thousandSeparator="." decimalMarker="," placeholder="Digite o preço ..."
                (change)="ValidateField('price')">
        </div>

        <div class="col-6 mt-2">
            <label for="selectedCategoryId" class="required">Categoria</label>
            <select class="form-select" id="selectedCategoryId" [(ngModel)]="selectedCategoryId"
                (change)="UpdateSubcategories()">
                <option value="" selected>Selecione uma Categoria ...</option>
                <option *ngFor="let option of ddlCategoriesOptions" value="{{option.id}}">{{option.name}}
                </option>
            </select>
        </div>

        <div class="col-6 mt-2">
            <label for="subcategoryId" class="required">Subcategoria</label>
            <select class="form-select" id="subcategoryId" [(ngModel)]="model.subcategoryId"
                (change)="ValidateField('subcategoryId')">
                <option value="" selected>Selecione uma subcategoria ...</option>
                <option *ngFor="let option of ddlSubCategoriesOptions" value="{{option.id}}">{{option.name}}
                </option>
            </select>
        </div>

        <div class="col-6 mt-2">
            <label for="brands" class="required">Marcas</label>
            <ng-select class="custom" [(ngModel)]="model.brandIds" [multiple]="true"
                placeholder="Selecione uma marca ...">
                <ng-option *ngFor="let item of ddlBrandsOptions" [value]="item.id">{{item.name}}</ng-option>
            </ng-select>
        </div>

        <div class="col-12 mt-2">
            <label for="description" class="">Descrição</label>
            <textarea placeholder="Digite uma descrição do produto ... (Opcional)" class="form-control" type="text"
                id="description" [(ngModel)]="model.description"></textarea>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-12">
            <label class="fs-5">Imagem</label>
            <hr>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <app-input-image inputId="imageGuid" label="" [(imageGuid)]="model.imageGuid"
                [(currentImage)]="productImageUrl" (currentImageChange)="ValidateField('imageGuid')"></app-input-image>
        </div>
    </div>
</app-form-body>

<app-form-bottom>
    <button class="btn btn-success text-light" [disabled]="!IsFormValid()" (click)="Submit()">Adicionar</button>
</app-form-bottom>


<div *ngIf="isLoading">
    <app-spinner-black></app-spinner-black>
</div>