<app-card >
    <div class="row">
        <div class="col-12">
            <label class="ms-2 fs-5 text-truncate" style="max-width: 100%;font-weight: 500;">
                {{title}}
            </label>
        </div>
    </div>

    <div class="row" style="height: 240px;">
        <div class="col-12">
            <canvas class="m-auto w-100"  style="max-height: 240px;"
                baseChart
                [legend]="legend"
                [type]="chart_type" 
                [data]="chart_data" 
                [options]="chart_options" 
                >
            </canvas>
        </div>
    </div>
</app-card>