

/* You can add global styles to this file, and also import other style files */
$primary: #294566;
$success: #4d9b5c;
$danger: #AD343E;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '../node_modules/ng-multiselect-dropdown/themes/ng-multiselect-dropdown.theme.scss';
@import '../node_modules/ngx-toastr/toastr.css';
@import "../node_modules/ngx-spinner/animations/square-jelly-box.css";
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "/src/app/helpers/font-styles.scss";

.ng-select.custom {
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    min-height: 0px;
    max-height: 31px;
}

.ng-select.custom .ng-select-container  { 
    font-size: 14px;           
    min-height: 0px;
    border-radius: 4px;
    font-weight: 400;
    max-height: 31px;
}

.page {
    display: block;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 16px;
}

.shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 8px 0px !important;
}

.btn {
    --bs-btn-padding-x: 8px;
    --bs-btn-padding-y: 4px;
    --bs-btn-font-size: 14px;
}

.form-control {
    padding: 4px 4px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}

.form-select{
    font-size: 14px;
    padding: 4px 48px 4px 4px;
    border-radius: 4px;
}

.form-control-color {
    width: 31px;
    height: 31px;
    padding: 2px;
    border-radius: 0px;
}

.on-hover:hover{
    background-color: #bebebe;
}

.input-disabled {
    color: grey;
    background-color: lightgrey;
    pointer-events: none;
}

.required::after {
    content: "*";
    color: $danger;
}

* {
    font-family: 'Poppins', sans-serif;
}

.bg-white {
    background-color: white !important;
}

.bg-white-d {
    background-color: #f0f0f0 !important;
}

.bg-white-dd {
    background-color: #e4e4e4 !important;
}

.bg-white-ddd {
    background-color: #d8d8d8 !important;
}

.bg-primary-www {
    background-color: #e7effc !important;
}

.bg-primary-ww {
    background-color: #698eb9 !important;
}

.bg-primary-w {
    background-color: #3a618d !important;
}

.bg-primary-d {
    background-color: #1d3147 !important;
}

.bg-primary-dd {
    background-color: #172738 !important;
}

.text-primary-d {
    color: #1d3147;
}

.text-primary-dd {
    color: #172738;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    border-width: 0px;
}

.dropdown-toggle::after {
    content: none;
}

hr{
    margin: 4px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0d1a27;
    border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #294566;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3a618d;
}